.product-highlights {
  .highlights__highlight:first-of-type .text-card {
    padding-top: 0;
  }
}

.highlights {
  position: relative;
  margin-bottom: rem(65);
  border-bottom: 1px solid $color-grey-300;
  padding-bottom: rem(65);

  @include mq($large) {
    margin-bottom: rem(115);
    padding-bottom: rem(115);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: rem(50);
  }

  &.section {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .text-card {
    padding-left: 0;
    padding-right: 0;
  }

  .text-card--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-card__description {
    b {
      font-weight: 500;
      color: $color-deep-green;
    }

    p + p {
      margin-top: $gutter;
      min-height: rem(24);
    }
  }

  .text-card__sub-title,
  .text-card__title {
    color: $color-deep-green;
  }
}

.highlights--no-border {
  border-bottom: 0;
}

.highlights__image-wrap {
  position: sticky;
  top: rem(200);
  margin-top: rem(66);
  height: calc(100vh - #{rem(400)});
  display: flex;
  align-items: center;
  width: 100%;
}

.highlights__mobile-image {
  display: block;
  margin: auto;
}

.highlights__image {
  width: 100%;
}

.highlights__image--offset {
  position: relative;
  top: rem(50);
  height: 100%;
  object-fit: contain;
}

.highlights__highlight {
  & + & {
    margin-top: rem(46);
  }

  @include mq($large) {
    margin-top: 0;
    min-height: calc(100vh - #{rem(82)});

    &:first-of-type {
      padding-top: rem(140);
    }

    &:last-of-type {
      min-height: calc(50vh);
    }
  }
}

.highlights__highlight--padded {
  padding-top: rem(16);

  @include mq($large) {
    padding-top: rem(140);
  }
}

.highlight__mobile-image {
  margin-top: rem(60);
}

.highlights__mobile-highlight {
  &:not(:last-of-type) {
    margin-bottom: rem(40);
  }

  &:last-of-type {
    .text-card {
      padding-bottom: 0;
    }
  }

  .text-card {
    padding-top: rem(30);
  }
}

.highlights {
  hr {
    margin: $gutter 0;
    border-color: $color-grey-300;
    border-style: solid;
    border-width: 1px 0 0;
  }

  ul,
  ol {
    padding-left: rem(30);
  }
}