<section class="page-banner">
    <div class="content">
      <p>{{ section.settings.footer_gdpr }}</a></p>
      <p><a href="#" class="accept">Accept</a></p>
      <a href="" class="close">
        {% include 'icon-close' %}
      </a>
    </div>
</section>