<svg width="37px" height="37px" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
    <title>icons / social footer </title>
    
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="modules-/-Footer-1" transform="translate(-1223.000000, -206.000000)">
            <g id="Group-4" transform="translate(1043.000000, 108.000000)">
                <g id="icons-/-social-footer-" transform="translate(181.000000, 99.000000)">
                    <circle id="Oval" stroke="#183028" stroke-width="2" fill-rule="nonzero" cx="17.5" cy="17.5" r="17.5"></circle>
                    <path d="M17.8703923,8.99995804 C21.3889201,8.99995804 23.6852224,11.5370017 23.6852224,14.2592311 C23.6852224,17.8703517 21.6852171,20.5555439 18.740765,20.5555439 C17.7407624,20.5555439 16.814834,20.037024 16.4814998,19.4259113 C16.4814998,19.4259113 15.9629799,21.537028 15.8333499,21.9444364 C15.44446,23.3888847 14.2777903,24.8333329 14.1851975,24.9444443 C14.1111232,25.0370371 13.9814932,25 13.9629747,24.9074072 C13.9444561,24.7222215 13.648159,22.8888834 14.0000118,21.407398 C14.1666789,20.6666553 15.1666815,16.4073849 15.1666815,16.4073849 C15.1666815,16.4073849 14.888903,15.8147907 14.888903,14.9444181 C14.888903,13.5740441 15.6666828,12.5740415 16.6481669,12.5740415 C17.4815024,12.5740415 17.8889109,13.1851542 17.8889109,13.9444155 C17.8889109,14.777751 17.3518724,16.0370135 17.0740939,17.2036833 C16.8518711,18.1851673 17.5740952,18.9814657 18.5370607,18.9814657 C20.277806,18.9814657 21.4444758,16.7407191 21.4444758,14.092564 C21.4444758,12.0740402 20.0926204,10.5740362 17.629651,10.5740362 C14.8333473,10.5740362 13.092602,12.6481158 13.092602,14.9629366 C13.092602,15.7777536 13.3333434,16.3333106 13.7037147,16.7777562 C13.8703818,16.9814605 13.8889004,17.0555347 13.8333447,17.2777575 C13.7963076,17.4629432 13.6851962,17.8703517 13.648159,18.0185002 C13.5926033,18.2592416 13.4074177,18.3333158 13.1851948,18.2592416 C11.9074137,17.7222031 11.3148196,16.314792 11.3148196,14.7407138 C11.3148196,12.1295959 13.5000105,8.99995804 17.8703923,8.99995804 Z" id="facebook" fill="#183028"></path>
                </g>
            </g>
        </g>
    </g>
</svg>