<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>35F7D9F2-F052-4EC4-866C-4F637CDF4DF0</title>
    <g id="Blog" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Blog-Detail" transform="translate(-453.000000, -2706.000000)">
            <g id="pinterest" transform="translate(454.000000, 2707.000000)">
                <circle id="Oval" stroke="#16402D" stroke-width="0.875" cx="14" cy="14" r="14"></circle>
                <path d="M14.2963138,7.19996643 C17.1111361,7.19996643 18.9481779,9.22960136 18.9481779,11.4073849 C18.9481779,14.2962814 17.3481737,16.4444351 14.992612,16.4444351 C14.1926099,16.4444351 13.4518672,16.0296192 13.1851998,15.540729 C13.1851998,15.540729 12.7703839,17.2296224 12.6666799,17.5555491 C12.355568,18.7111078 11.4222322,19.8666663 11.348158,19.9555554 C11.2888986,20.0296297 11.1851946,20 11.1703798,19.9259258 C11.1555649,19.7777772 10.9185272,18.3111067 11.2000094,17.1259184 C11.3333431,16.5333242 12.1333452,13.1259079 12.1333452,13.1259079 C12.1333452,13.1259079 11.9111224,12.6518326 11.9111224,11.9555345 C11.9111224,10.8592353 12.5333462,10.0592332 13.3185335,10.0592332 C13.9852019,10.0592332 14.3111287,10.5481234 14.3111287,11.1555324 C14.3111287,11.8222008 13.8814979,12.8296108 13.6592751,13.7629466 C13.4814969,14.5481338 14.0592762,15.1851726 14.8296486,15.1851726 C16.2222448,15.1851726 17.1555806,13.3925753 17.1555806,11.2740512 C17.1555806,9.65923216 16.0740963,8.45922896 14.1037208,8.45922896 C11.8666778,8.45922896 10.4740816,10.1184926 10.4740816,11.9703493 C10.4740816,12.6222029 10.6666747,13.0666485 10.9629718,13.422205 C11.0963054,13.5851684 11.1111203,13.6444278 11.0666758,13.822206 C11.0370461,13.9703546 10.948157,14.2962814 10.9185272,14.4148002 C10.8740826,14.6073933 10.7259342,14.6666526 10.5481558,14.6073933 C9.52593096,14.1777625 9.05185568,13.0518336 9.05185568,11.792571 C9.05185568,9.70367672 10.8000084,7.19996643 14.2963138,7.19996643 Z" id="facebook" fill="#16402D" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</svg>