<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>05E46C73-D91E-47A4-A79C-6F75178D1106</title>
    <g id="Blog" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Blog-Detail" transform="translate(-533.000000, -2706.000000)">
            <g id="ig" transform="translate(534.000000, 2707.000000)">
                <circle id="Oval" stroke="#16402D" stroke-width="0.875" cx="14" cy="14" r="14"></circle>
                <g id="printing" transform="translate(8.000000, 9.000000)" fill="#16402D" fill-rule="nonzero">
                    <path d="M7.73334375,8.94771094 L4.26665625,8.94771094 C4.04575781,8.94771094 3.86664844,9.12679687 3.86664844,9.34771875 C3.86664844,9.56864062 4.04573437,9.74772656 4.26665625,9.74772656 L7.73332031,9.74772656 C7.95421875,9.74772656 8.13332812,9.56864062 8.13332812,9.34771875 C8.13332812,9.12679687 7.95424219,8.94771094 7.73334375,8.94771094 Z" id="Path"></path>
                    <path d="M7.73334375,7.68611719 L4.26665625,7.68611719 C4.04575781,7.68611719 3.86664844,7.86520312 3.86664844,8.086125 C3.86664844,8.30704687 4.04573437,8.48613281 4.26665625,8.48613281 L7.73332031,8.48613281 C7.95421875,8.48613281 8.13332812,8.30704687 8.13332812,8.086125 C8.13332812,7.86520312 7.95424219,7.68611719 7.73334375,7.68611719 Z" id="Path"></path>
                    <path d="M11.0666719,2.71504687 L9.79394531,2.71504687 L9.79394531,0.400007812 C9.79394531,0.179109375 9.61485937,0 9.3939375,0 L2.6060625,0 C2.38516406,0 2.20605469,0.179085937 2.20605469,0.400007812 L2.20605469,2.71504687 L0.933328125,2.71504687 C0.4186875,2.71504687 0,3.13375781 0,3.64839844 L0,7.67266406 C0,8.18730469 0.4186875,8.60599219 0.933328125,8.60599219 L2.206125,8.60599219 L2.206125,10.7531953 C2.206125,10.9740937 2.38521094,11.1532031 2.60613281,11.1532031 L9.39386719,11.1532031 C9.61476563,11.1532031 9.793875,10.9741172 9.793875,10.7531953 L9.793875,8.60599219 L11.0666719,8.60599219 C11.5813125,8.60599219 12,8.18730469 12,7.67266406 L12,3.64839844 C12,3.13378125 11.5813125,2.71504687 11.0666719,2.71504687 Z M3.00604687,0.800015625 L8.99392969,0.800015625 L8.99392969,2.71504688 L3.00604687,2.71504688 L3.00604687,0.800015625 Z M8.99388281,10.3531875 L3.00614063,10.3531875 C3.00614063,10.2750234 3.00614063,7.17733594 3.00614063,7.08065625 L8.99388281,7.08065625 C8.99388281,7.17977344 8.99388281,10.2780234 8.99388281,10.3531875 Z M9.3939375,5.06383594 L8.37574219,5.06383594 C8.15484375,5.06383594 7.97573438,4.88475 7.97573438,4.66382813 C7.97573438,4.44290625 8.15482031,4.26382031 8.37574219,4.26382031 L9.3939375,4.26382031 C9.61483594,4.26382031 9.79394531,4.44290625 9.79394531,4.66382813 C9.79394531,4.88475 9.61485937,5.06383594 9.3939375,5.06383594 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>