<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>204A0A45-93E5-4232-A1E3-F6EC3B7F24B8</title>
    <g id="Blog" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Blog-Detail" transform="translate(-413.000000, -2706.000000)">
            <g id="twitter" transform="translate(414.000000, 2707.000000)">
                <circle id="Oval" stroke="#205C40" stroke-width="0.875" cx="14" cy="14" r="14"></circle>
                <path d="M20.4000336,9.49626872 C20.0444771,10.0296035 19.6000314,10.4888639 19.0963265,10.8592353 C19.0963265,10.9777541 19.0963265,11.0814581 19.0963265,11.199977 C19.0963265,14.6666526 16.4592825,18.6666632 11.6296402,18.6666632 C10.1481548,18.6666632 8.75555856,18.3407364 7.6,17.5999937 C7.80740795,17.6296234 8.01481592,17.6444382 8.22222384,17.6444382 C9.45185672,17.6444382 10.5926005,17.1111035 11.4814917,16.3999906 C10.3407479,16.3851757 9.3629676,15.6148033 9.0370408,14.5777635 C9.20000416,14.6073933 9.3629676,14.6222081 9.52593096,14.6222081 C9.76296864,14.6222081 10.0000063,14.5925784 10.2222291,14.533319 C9.02222592,14.2962814 8.11851984,13.2296118 8.11851984,11.9555345 C8.11851984,11.9407196 8.11851984,11.9407196 8.11851984,11.9259047 C8.4740764,12.1184978 8.87407744,12.2370166 9.30370816,12.2518315 C8.5925952,11.7777562 8.13333472,10.9777541 8.13333472,10.0740481 C8.13333472,9.58515784 8.2666684,9.1851568 8.4888912,8.79997064 C9.79259832,10.38516 11.7185293,11.3777552 13.8963128,11.496274 C13.8518682,11.3036809 13.8370534,11.096273 13.8370534,10.888865 C13.8370534,9.43700936 15.0074268,8.26663592 16.4592825,8.26663592 C17.21484,8.26663592 17.8963233,8.59256264 18.3852134,9.09626768 C18.9778076,8.97774888 19.5407721,8.75552608 20.0444771,8.45922896 C19.851884,9.066638 19.4370681,9.58515784 18.8889185,9.91108464 C19.4222532,9.8518252 19.9259582,9.70367672 20.4000336,9.49626872 Z" id="facebook" fill="#205C40" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</svg>