<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>7FD1CD22-736D-4531-A33A-BF77F0433A18</title>
    <g id="Blog" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Blog-Detail" transform="translate(-373.000000, -2706.000000)">
            <g id="fbook" transform="translate(374.000000, 2707.000000)">
                <circle id="Oval" stroke="#16402D" stroke-width="0.875" cx="14" cy="14" r="14"></circle>
                <path d="M12.4000126,20 L12.4000126,14.1333179 L10.8000084,14.1333179 L10.8000084,11.999979 L12.4000126,11.999979 L12.4000126,10.1333074 C12.4000126,8.6221924 13.3481632,7.19996643 15.600021,7.19996643 C16.503727,7.19996643 17.2000252,7.31848526 17.2000252,7.31848526 L17.1111361,9.33330536 L15.7333546,9.33330536 C14.9185377,9.33330536 14.8000189,9.77775096 14.8000189,10.3999748 L14.8000189,11.999979 L17.2000252,11.999979 L17.0370618,14.1333179 L14.8000189,14.1333179 L14.8000189,20 L12.4000126,20 Z" id="facebook" fill="#16402D" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</svg>