<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 53.1 (72631) - https://sketchapp.com -->
  <title>Icon Video</title>
  
  <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Module-/-Video" transform="translate(-695.000000, -451.000000)" fill="#FFFFFF">
          <g id="Video" transform="translate(120.000000, 120.000000)">
              <g id="Button-/-Play">
                  <path d="M600,381 C586.192881,381 575,369.807119 575,356 C575,342.192881 586.192881,331 600,331 C613.807119,331 625,342.192881 625,356 C625,369.807119 613.807119,381 600,381 Z M608.077634,356.256436 C608.118818,356.231432 608.153373,356.196877 608.178377,356.155693 C608.264364,356.014068 608.21926,355.829551 608.077634,355.743564 L594.955693,347.776671 C594.90876,347.748176 594.854907,347.733107 594.8,347.733107 C594.634315,347.733107 594.5,347.867422 594.5,348.033107 L594.5,363.966893 C594.5,364.021799 594.515068,364.075653 594.543564,364.122586 C594.629551,364.264212 594.814068,364.309316 594.955693,364.223329 L608.077634,356.256436 Z" id="Combined-Shape"></path>
              </g>
          </g>
      </g>
  </g>
</svg>