<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>288598A6-0792-47F1-8E79-C186AA492371</title>
    <g id="Blog" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Blog-Detail" transform="translate(-573.000000, -2706.000000)">
            <g id="youtube" transform="translate(574.000000, 2707.000000)">
                <circle id="Oval" stroke="#16402D" stroke-width="0.875" cx="14" cy="14" r="14"></circle>
                <g id="email-3" transform="translate(8.000000, 10.000000)" fill="#16402D" fill-rule="nonzero">
                    <path d="M6.34710744,5.93624557 C6.23376623,6.00708383 6.10625738,6.03541913 5.99291617,6.03541913 C5.87957497,6.03541913 5.75206612,6.00708383 5.63872491,5.93624557 L0,2.49350649 L0,7.06965762 C0,8.0472255 0.79338843,8.84061393 1.77095632,8.84061393 L10.2290437,8.84061393 C11.2066116,8.84061393 12,8.0472255 12,7.06965762 L12,2.49350649 L6.34710744,5.93624557 Z" id="Path"></path>
                    <path d="M10.2290437,3.93231296e-16 L1.77095632,3.93231296e-16 C0.935064935,3.93231296e-16 0.226682409,0.595041322 0.0566706021,1.38842975 L6.00708383,5.01534829 L11.9433294,1.38842975 C11.7733176,0.595041322 11.0649351,3.93231296e-16 10.2290437,3.93231296e-16 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>