<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>ECBA611A-E817-4783-A88D-0D77197D4B62</title>
    <g id="Blog" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---Blog-Detail" transform="translate(-493.000000, -2706.000000)">
            <g id="linkedin" transform="translate(494.000000, 2707.000000)">
                <circle id="Oval" stroke="#16402D" stroke-width="0.875" cx="14" cy="14" r="14"></circle>
                <path d="M7.86666737,11.7333117 L10.533341,11.7333117 L10.533341,20 L7.86666737,20 L7.86666737,11.7333117 Z M14.8000189,15.1999874 L14.8000189,20 L12.1333452,20 L12.1333452,13.5999832 C12.1333452,13.5999832 12.0889006,12.0147938 12.0889006,11.7333117 L14.7111298,11.7333117 L14.8000189,12.8740554 C15.3333536,12.0740533 16.1333557,11.4666443 17.2000252,11.4666443 C19.0666967,11.4666443 20.4000336,12.7999811 20.4000336,15.1999874 L20.4000336,20 L17.7333599,20 L17.7333599,15.4666548 C17.7333599,14.1333179 17.0815063,13.5999832 16.2815042,13.5999832 C15.4815022,13.5999832 14.8000189,14.1333179 14.8000189,15.1999874 Z M9.18518936,10.3999748 L9.17037448,10.3999748 C8.22222384,10.3999748 7.6,9.74812128 7.6,8.93330432 C7.6,8.10367248 8.23703872,7.4666338 9.21481904,7.4666338 C10.1777846,7.4666338 10.7851935,8.10367248 10.8000084,8.93330432 C10.8000084,9.74812128 10.1777846,10.3999748 9.18518936,10.3999748 Z" id="facebook" fill="#16402D" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</svg>