<section class="quickshop" data-quickshop>
  <div class="quickshop__overlay" data-close-quickshop></div>
  <header class="quickshop__header">
    <h2 class="quickshop__title h4">Quick Buy</h2>
    <button class="quickshop__close icon-button"
            data-close-quickshop
            aria-label="close quickshop modal"></button>
  </header>
  <div class="quickshop__contents" data-quickshop-content></div>
</section>