<div class="herb-results__no-results">
  <div class="ccontain">
    <h1 class="h2">
      Your search returned no results. Please try again
    </h1>
  </div>

  {%- render 'search-herbs' -%}
</div>