<h2 class="footer__newsletter-title h4">Join Our Newsletter</h2>
<p class="footer__newsletter-content">Sign up for news on sales, product releases, and exclusive deals.</p>
<div id="newsletter-subscribe" class="klaviyo-form-RZQzY4 single newsletter-subscribe-modal"></div>